<!--The content below is only a placeholder and can be replaced.-->
<div>
    <span style="font-weight: bold">Count:</span> {{ count$ | async }}
    <button (click)="increment()">+</button>
    <button (click)="decrement()">-</button>
</div>